.btnOne {
    background-color: black;
    color: white;
    font-weight: bold;
}

.btnTwo {
    background-color: yellow;
}

.btnOne,
.btnTwo {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}